
# Your openai api key. (required)
OPENAI_API_KEY=sk-xxxx

# Access password, separated by comma. (optional)
CODE=your-password

# You can start service behind a proxy
PROXY_URL=http://localhost:7890

# (optional)
# Default: Empty
# Googel Gemini Pro API key, set if you want to use Google Gemini Pro API.
GOOGLE_API_KEY=

# (optional)
# Default: https://generativelanguage.googleapis.com/
# Googel Gemini Pro API url without pathname, set if you want to customize Google Gemini Pro API url.
GOOGLE_URL=

# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do want users to query balance, set this value to 1.
ENABLE_BALANCE_QUERY=

# (optional)
# Default: Empty
# If you want to disable parse settings from url, set this value to 1.
DISABLE_FAST_LINK=


# anthropic claude Api Key.(optional)
ANTHROPIC_API_KEY=

### anthropic claude Api version. (optional)
ANTHROPIC_API_VERSION=

### anthropic claude Api url (optional)
ANTHROPIC_URL=

### (optional)
WHITE_WEBDEV_ENDPOINTS=

### Shansing Customized
ALIBABA_API_KEY=
SHANSING_ABOUT_HTML='<p>Hello AI World!</p>'
SHANSING_QUOTA_AGENT_URL=http://localhost:3000/balance
SHANSING_MODEL_CHOICES='[{"name": "GPT-4o", "model": "gpt-4o-2024-05-13", "promptTokenPrice1k": "0.045", "completionTokenPrice1k": "0.135"}, {"name": "GPT-4", "model": "gpt-4-turbo-2024-04-09", "promptTokenPrice1k": "0.09", "completionTokenPrice1k": "0.27"}, {"name": "GPT-3.5", "model": "gpt-3.5-turbo-0125", "promptTokenPrice1k": "0.0045", "completionTokenPrice1k": "0.0135"}, {"name": "Gemini 1.5 Pro", "model": "gemini-1.5-pro-latest", "promptTokenPrice1k": "0", "completionTokenPrice1k": "0"}, {"name": "Gemini 1.5 Flash", "model": "gemini-1.5-flash-latest", "promptTokenPrice1k": "0", "completionTokenPrice1k": "0"}, {"name": "通义千问-Max", "model": "qwen-max", "promptTokenPrice1k": "0", "completionTokenPrice1k": "0"}, {"name": "Qwen-Long", "model": "qwen-long", "promptTokenPrice1k": "0", "completionTokenPrice1k": "0"}]'
SHANSING_CHINA_SOCKS_PROXY=socks://example.com:1080
